PORT="3000"
MONGO_URI="mongodb+srv://admin:admin@nodeapi.rt2vhe6.mongodb.net/?appName=NodeAPI"
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza19oam1aOUJMU2lIZzJGTFhXVnYtVHAiLCJhcGlfa2V5IjoiMDFLUkVCM0tRSDVINTBQSzlWU0FLQlE1WU4iLCJ0ZW5hbnRfaWQiOiIxZmJlNjNlNjA5MzgwODQ3OGRmNjk0NWM3YjQxOThlYjdhOGE4ZjM1ZTg0Y2ExMTkzM2E3MjU4ZWNiNzcwOTY4IiwiaW50ZXJuYWxfc2VjcmV0IjoiY2ExNTY0ODEtNjliNS00MjEyLThhOWEtYTYyZjI5ZDA2NGUyIn0.K07iZRY7H7yk8uY-KqfzozhUzExsRymXegDu6rz1NNY"
GOOGLE_CLIENT_ID="1017735918876-k4avf66vcpjpe6f2f71nf6hflkct2tf9.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
SESSION_SECRET="super_secret"
REDIS_HOST="redis-10030.c92.us-east-1-3.ec2.cloud.redislabs.com"
REDIS_PORT=10030
REDIS_PASSWORD="Qw4lHs7TvehXIeL0xci7zAHiBH7mU6VA"
IPINFO_TOKEN="57e0aaa69f3d31"